#*.meta
.DS_Store

.idea/


# 忽略Network下所有的.meta文件
Network.meta
Network/*.meta
Network/**/*.meta
# Core下的所有.meta文件
Core.meta
Core/*.meta
Core/**/*.meta

obj/
bin/

# README相关也不需要.meta
README.md.meta
README-En.md.meta

# LICENSE相关也不需要.meta
LICENSE.meta
